@import "./button.css";

@tailwind preflight;
@tailwind utilities;

/* RESET */
a, a:visited {
  text-decoration: none;
}

/* BASE STYLES */
body {
  font-family: 'Source Sans Pro', sans-serif;
}
a, a:visited {
  @apply .text-orange-darker;
}
a:hover {
  text-decoration: underline;
}
h1 {
  @apply .text-2xl .font-medium .mt-1 .mb-2;
}
h2 {
  @apply .text-xl .font-medium .mt-1 .mb-2;
}
